<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
          	<command
                 commandId="syxth"
                 icon="icons/objectivelogo.gif"
                 label="Search for dead code">
                 
                 <!--<visibleWhen>
                	<with variable="activeMenuSelection">
                    	<iterate>
                        	<adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                    	</iterate>
                	</with>
            	</visibleWhen>-->
          	</command>
		</menuContribution>		
	</extension>
	
	<extension point="org.eclipse.ui.commands">
     	<command name="Search for dead code"
            id="syxth"
            defaultHandler="org.syxth.popup.handlers.ShowViewHandler">
     	</command>
   	</extension>
	
   <extension point="org.eclipse.ui.views">
      <category name="Syxth" id="syxth"></category>
      <view name="Syxth"
            icon="icons/objectivelogo.gif"
            category="syxth"
            class="org.syxth.views.SyxthView"
            id="org.syxth.views.SyxthView">
      </view>
   </extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.syxth.views.SyxthView">
         </view>
      </perspectiveExtension>
   </extension>
   
	<extension point="org.eclipse.ui.preferencePages">
    	<page class="org.syxth.preferences.SyxthPreferencePage" id="org.syxth.preferences.SyxthPreferencePage" name="Syxth"/>
   	</extension>
   	
   	<extension point="org.eclipse.core.runtime.preferences">
      	<initializer class="org.syxth.preferences.PreferenceInitializer"/>
   	</extension>

</plugin>
